
body{
	position: relative;
}
#navbar{
	background-color: $white!important;
	z-index: 1;
}
.sticky{
	position: fixed;
	top:0;
	width: 100%;
}
.sticky + .about{
  padding-top: 180px;
}
p{
	font-size: 16px;
	font-family: $font-content, light;
	font-weight: 300;
}
h2,h3{
	color:$gray2;
}
.title{
	font-family: $font-title;
}

.navbar{
	padding: 0 1em;
}
.slug{
	margin-bottom: 80px;
	position: relative;
	text-align: center;
	.name-menu{
		width: 270px;
		margin: 0 auto;
		position: relative;
		text-align: center;
		.slug-name{
			position: absolute;
			font-size: 60px;
			width: 270px;
			top: 38px;
			color: #fff;
			font-family: $font-title;
		}
	}
	h2{
		font-weight: 400;
		margin: 40px 5%;
		span{
			color: $oranges;
		}
	}
	.sub{
		font-weight: 400;
		font-family: $font-content;
	}
}
.content{
	position: relative;
	background-color: $gray1;
	.img{
		position: relative;
		width: 50px;
		height: 40px;
		margin: 0 auto;
	}
}
.team,.services,.portfolio,.pricing,.contact{
	padding-top: 100px;
}
.more{
	margin-top: 70px;
	width: 100%;
	text-align: center;
	.text{
		line-height: 0.5;
		margin: 0 auto;
		color: $gray3;
	}

}	
.img{
	
}
.img:after{
	content:"";
	position: absolute;
	top:0;
	border-width: 25px;
    border-style: solid;
    border-color: $white transparent transparent transparent;
}
.slide{
	.carousel-caption{
		font-family: $font-title;
		right: 5%;
		left: 5%;
		.fa{
			font-size: 36px;
			color: $oranges;
		}
		h1{
			span{
				color: $oranges;
			}
		}
		
		h3{
			color: $white;

		}
		small{
			color: $oranges1;
			font-size: 14px;
		}
		h1,h3{
			font-weight: 300;
		}
	}
}
.acti{
	background-image: url(../image/bgacti.png);
	width: 41% !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 873px;
}
.acti .cost{
	background-color: rgba(255,255,254,0)!important;
}
.acti {
	.price{
		h2{
			color: $white!important;
		}
		span{
			color: $oranges!important;
			background-color: $white!important;
		}
	}
	ul{
		background-color: rgba(255,255,207,0.4)!important;
		width:87.5% !important;
		margin: 0 auto;
		li{
			border-bottom: 1px solid $oranges!important;
		}
	}
	form{
		button{
			background-color: $white !important;
			color: $oranges!important;

		}
	}
	
}
.tooltip-inner{
	background-color: #ddd;
	border-radius: 0px;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #ddd;
}