@mixin title(){
  font-size: 60px;
  font-family: "Oswald";
  text-align: center;

}
@mixin before_after($with){
	width: $with;
	height: 1px;
	background-color: $gray3;
	 content: " ";
	 display: inline-block;
	 margin: 5px;
}
@mixin slide($url,$height){
	background-image: url($url);
    height: $height;
    color: white;
    background-size: cover;
    font-family: $font-title;
}
@mixin caption($width,$padding){
	width: $width;
	margin: 0 auto;
	text-align: center;
    padding:$padding 0;
}
