nav{
	border-bottom: 2px solid $gray3;
		.logo {
			margin: 10px 0;
			width: 100%;
			a{
				color: $oranges;
				font-size: 36px;
			}
			button{
				float: right;
				margin-top: 15px;
			}
		}
		ul{
			float: right;
			width: 100%;
			li{
				margin-left:20px;
				height: 80px;
				a{
					color: $gray2;
					font-family: $font-title;
					font-size: 18px;
					height: 100%;
					
				}
				a:hover{
					color: $oranges;
					border-bottom: 2px solid $oranges;
				}
				button{
					color: $gray3!important;
					background-color:$white;
					border: none;
					font-size: 18px;
					padding: 1.5rem 1rem;
				}
			}
		}
	
}
.bg-light {
	    background-color: $white !important;
	}
.navbar-light {
	.navbar-nav {
		.nav-link.active{
			color: $oranges;
			border-bottom: 2px solid $oranges;
		}
		.nav-link:focus{
			color: $oranges;
		}
		.nav-link:hover{
			color: $oranges;
		}
	}
	
}
	
.nav-link {
	padding: 1.5rem 1rem;
}