@media screen and(max-width:1024px) {
	.about{
		.content{
			.more{
				.text{
					p:after,p:before{
						@include before_after(39%);
					}
				}
			}
		}
		
	}
	.team{
		.content{
			.more{
				.text{
					p:after,p:before{
						@include before_after(37.9%);
					}
				}
			}
		}
		
	}
	.services{
		.contetn{
			.more{
				.text{
					p:after,p:before{
						@include before_after(35%);
					}
				}
			}
		}
		
	}
	
}
@media screen and (max-width: 980px) {
	.team{
		.content{
			.carousel-caption{
				width: auto;
			}
		}
	}  
	.about,.team,.services{
		.content{
			.more{
				.text{
					text-align: center;
					p:after,p:before{
						display: none;
					}
				}
			}
		}
	}
	.caption{
		width: 100%!important;
	}
	.services{
		.say{
			.info{
				.name{
					float: left;
					width: 100%;
				}
			}
		}
	}
	// pricing
		.sing_up,.acti{
			clear: both;
			width: 100%!important;
		}
	// end pricing
	.services .more{
		.text{
			text-align: center;
			p:after,p:before{
				display: none;
			}
		}
	}
	// contact
	.contact{
		.send{
			width: 80%!important;
		}
	}
	// end contact
}
@media only screen and (max-width: 980px) and (min-width: 780px){
	.services{
		.say{
			.info{
				.name{
					float: left;
					width: 100%;
				}
			}
		}
	}
}
@media screen and (max-width: 767px) {
	header {
		.short_description{
			h1{
				padding: 0;
			}
		}
	}
	.carousel-caption{
		h1{
			font-size: 30px;
		}
		h3{
			font-size: 20px;
		}
		button{
			font-size: 20px!important;
		}
		.bold{
			font-size: 40px!important;

		}
		.address{
			font-size: 30px!important;
		}
		.caption{
			width: 100%!important;
			ul{
				li{
					font-size: 16px!important;
					display: block!important;
				}
				.call:after{
					display: none!important;
				}
			}
		}
	}
	.services{
		.say{
			.info{
				.name{
					float: left;
					width: 45%;
				}
			}
		}
	}
	footer{
		.connect{
			ul{
				text-align: left!important;
				li{
					width: 18%!important;
				}
			}
		}
		
	}
	
}
@media screen and (max-width: 680px) {
	
}
@media screen and (max-width: 480px) {
	header {
		.short_description{
			h1{
				font-size: 30px;
			}
		}
	}
	.about {
		.content {
			.slide{
				.carousel-caption{
					width: auto;
					top:40px;
				}
			}
		}
	}
	.services,.portfolio{
		.slide{
			.carousel-caption{
				top:.5rem;
			}
		}
	}
	.pricing{
		.sing_up,.acti{
			.price{
				padding-top:50px;
				h2{
					margin-top: 55px;
				}
			}
			
		}
	}
}
@media screen and (max-width: 320px) {
	header{
		.btn-icon{
			top:560px;
		}
	}
	.carousel-caption{
		.caption{
			ul{
				margin-top: 25px;
			}
		}
	}
	.services, .portfolio{
		.slide{
			.carousel-caption{
				top:16%;
				h1{
					font-size: 24px;
				}
			}
		}
	}
	.pricing{
		.slide{
			.carousel-caption{
				width: auto;
			}
		}
	}
}