// Section About
.about{
	margin-top: 80px;
	.content{
		@include content_bg();
		.item{
			color: $gray2;
			text-align: center;
			margin-top: 60px;
			h2{
				color: $gray2;
			}
			p{
				color: $gray2;
				padding:0 10px;
				
			}
		}
		
		.progress{
			height: 40px!important;
			background-color: $gray2!important;
			border-radius:0px;
			margin-bottom: 20px;
			.progress-bar{
				background-color: $oranges;
				.left{
					float: left;
					padding-left: 20px;
				}
				.right{
					float: right;
					padding-right: 20px;
				}
			}
		}
		.about-left, .about-right{
			margin-top: 40px;
			font-family: $font-content, light;
		}
		.about-left{
			color: $gray2;
		}
		.about-right{
			padding-top: 10px;
		}
		.number{
			width: 100%;
			text-align: center;
			margin-bottom: 100px;
			h1{
				color: $gray2;
			}
			span{
				font-size: 60px;
				color: $oranges;
			}
			p{
				color: $gray2;
			}
		}
		.slide{
			.carousel-item{
				height: 552px;
				img{
					height: 100%;
				}
			}
			.carousel-caption{
				top:100px;
				width: 58.666667%;
				margin: 0 auto;
				.fa{
					font-size: 36px;
					color: $oranges;
				}
				h3{
					color: $white;
				}
			}
			.carousel-item{
				height: 500px;
			}
		}
	}
}
// End About
// Team
.team{
	.content{
		@include content_bg();
		.card{
			margin-top: 60px;
			.profile{
			    position: relative;
				.image {
				  opacity: 1;
				  display: block;
				  width: 100%;
				  height: auto;
				  transition: .5s ease;
				  backface-visibility: hidden;
				}
				.overlay {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: .5s ease;
					text-align: center;
					background-color: rgba(255, 153, 51, 0.4);
				}

				
				.text {
					background-color: rgba(0, 0,0, 0.5);
					
					font-size: 16px;
					padding: 16px 32px;
					position: absolute;
					top: 40%;
					width: 100%;
					a{
						color: $white;
					
					}
				}
			}
			.profile:hover .overlay {
				opacity: 1;
			}
			
			.card-body{
				.card-title{
					.left {
						float: left;
						color: $gray2;
					}
					.right{
						float: right;
						color: $gray4;
					}
				}
				.card-text{
					clear: both;
					color: $gray4;

				}
			}
			
		}
		.client{
			text-align: center;
			width: 100%;
			margin-top: 40px;
			h1{
				color: $gray2;
			}
			ul{
				list-style-type: none;
				margin-bottom: 50px;
				padding-left: 0px;
				li{
					display: inline-block;
					height: 100px;
					background-repeat: no-repeat;
					img{
						filter: grayscale(100%);
					}
				}
				
			}
			li:hover img{
						filter: grayscale(0%);

				}

		}
		.carousel-caption{
			top:20%;
			width: 50%;
			margin: 0 auto;
			h3{
				margin-bottom: 0px!important;
			}
		}
		.carousel-indicators {
			bottom: 110px;
			li{
				width: 10px!important;
				height: 10px;
				border-radius:50%;
			}
		}
		.carousel-item{
			height: 552px;
		}
			
	}
}
// End section TEAm

// Section Services
.services{
	.item1{
		margin-top: 35px;
		.icon{
			float: left;
			margin-right: 25px;
		}
		.item-content{
			h3{
				padding-top: 13px;
			}
		}
	}
	.more{
		.text{
			p:after,p:before{
				@include before_after(37%);
			}
		}
	}
	.say{
		text-align: center;
		width: 100%;
		h1{
			color: $gray2;
		}
		.user{
			clear: both;
			margin-bottom: 100px;
		}
		.talk{
			position: relative;
			background-color: $white;
			p{
				font-family: $font-light, light;
				color: #282828;
				font-style: italic;
				padding:35px 20px;
				font-weight: 300;
			}
			
		}
		.talk:after{
			content:"";
			position: absolute;
			border-width: 20px;
    		border-style: solid;
   			border-color: $white transparent transparent transparent;
   			top: 100%;
   			left:20%;
		}
		.info{
			width: 100%;
			margin-top: 30px;
			.avarta{
				float: left;
				width: 55%;
			}
			.name{
				float: left;
				width: 45%;
				text-align: left;
				p{
					font-family:$font-basic,;
				}
				small{
					font-size: 12px;
					font-family: $font-light;
					font-style: italic;
					color: $gray5;
				}
			}
		}
	}	
	.slide{
		.carousel-caption{
			top:16%;
			button{
				font-size: 24px;
				background-color: $oranges;
				color: $white;
				padding: 10px 20px;
				border: none;
				.fa{
					color: $white;
					font-size: 24px;
				}
			}
		}
		.carousel-item{
			height: 352px;
		}
	}


}
// End section service
// Section Portfolio
.portfolio{
	.button-group{
		margin-top: 60px;
		margin-bottom: 40px;
		text-align: center;
		width: 100%;
		button{
			background-color: $oranges;
			color: $white;
			font-size: 24px;
			font-family: $font-content;
			padding: 5px 20px;
			border: none;
			border-radius: 20px;
			margin-right: 20px;
			margin-bottom: 20px;
			font-weight: 300;
		}
	}
	.list{
		img{
			width: 100%;
			height: 268px;
		}
		.col-md-3{
			padding-right:0!important;
			padding-left:0!important;
		}
		.current{
			position: relative;
			height: 268px;
			.image {
				  opacity: 1;
				  display: block;
				  width: 100%;
				  height: 100%;
				  transition: .5s ease;
				  backface-visibility: hidden;
				}
			.hover{
				opacity: 0;
				top:0;
				left:0;
				bottom: 0;
				right: 0;
				background-color: rgba(255, 153, 51, 0.6);
				transition: .5s ease;
				text-align: center;
				position: absolute;
			}
			.text{
				color: $white;
				margin-top: 90px;
				a{
					color: $white;
				}
				h4{
					margin-bottom: 0px!important;
				}
				h4:after{
					content:"";
					width: 100px;
					height: 2px;
					background-color: $white;
					display: block;
					margin: 10px auto;

				}
			}
		}
		.current:hover .hover{
			opacity: 1;
		}
	}
}						
// End Section Portfolio
// Section pricing
.pricing{
	.sing_up{
		width: 29.5%;
		margin-top: 65px;
		margin-bottom: 75px;
		float: left;
	}
	.cost{
		background-color: $white;
	}
	.basic,.premium,.standard{
		height: 760px;
		margin-bottom: 100px;
		text-align: center;
		margin: 50px 0;
		.price{
			font-family:$font-basic;
			font-weight: 300;
			padding-top: 100px;
			span{
				padding: 40px 35px;
				background-color: #566065;
				border-radius: 50%;
				color: $white;
				font-size: 48px;
			}
			h2{
				padding-top: 80px;
			}
		}
		ul{
			list-style-type: none;
			width: 100%;
			padding-left: 0;
			background-color: $gray1;
			margin-top: 30px;
			li{
				padding:10px 0;
				border-bottom: 1px solid $white;
				font-family:$font-light ;
				color: $bg-footer;
				i{
					padding-right: 10px;
				}
			}
		}
		form{
			margin-top: 50px;
			button{
				background-color: #566065;
				border: none;
				padding: 10px 30px;
				color: $white;
				font-size: 18px;
				i{
					padding-right: 10px;
				}
			}
		}
	}
	.slide{
		.carousel-caption{
			top:10%;
			.title{
				margin-bottom: 30px;
			}
			.bold{
				font-weight: bold;
				font-size: 60px;
			}
			.address{
				clear: both;
				font-size: 48px;
				font-weight: 300;
			}
			ul{
				list-style-type: none;
				margin-top: 60px;
				background-color: rgba(0,0,0,0.5);
				padding:10px 0;
				li{
					display: inline;
					font-size: 30px;
				}
				.call:after{
					content:"";
					height: 5px;
					display: inline-block;
					background-color: $gray1;
					border-radius:50%;
					width: 5px;
					margin: 10px 0;
				}
			}
			.caption{
				width: 66.67%;
				margin: 0 auto;
			}
		}
		.carousel-item{
			height: 552px;
		}
	}
}
				
// End section pricing
// section contact
.contact{
	.content{
		background-image: url("../image/map.png");
		height: 864px;
		.send{
			margin: 110px auto;
			background-color: $white;
			height: 550px;
			width: 50%;
			form{
				margin: 0 auto;
				width: 66.666667%;
				padding: 70px 0;
				input{
					width: 100%;
					height: 50px;
					margin-botton: 20px;
					padding: 0 30px;
					font-family: $font-content;
					color: $gray3;
					background-color: $graybg;
					border: 1px solid #eee;
					border-radius: 3px;
				}
				textarea{
					width: 100%;
					height: 130px;
					padding: 10px 30px;
					font-family: $font-content;
					color: $gray3;
					background-color: $graybg;
					border: 1px solid #eee;
					border-radius: 3px;
				}
				button{
					width: 100%;
					background-color: $oranges;
					border: none;
					height: 50px;
					color: $white;
					font-family: $font-title;
					font-weight: 300px;

				}
			}
		}
	}
}

