$oranges: #ff9933 !default;
$oranges1:#cc9966!default;
$background-button:#f89a3d;
$gray2: #666666 !default;
$gray1: #f4f4f4 !default;
$gray3: #cccccc !default;
$gray4:#afb6ba !default;
$gray5:#999 !default;
$white: #fff !default;
$black:#000!default ;
$graybg:#f6f6f6 !default;
$bg-footer:#333333 !default;
$font-title: 'Oswald';
$font-content: 'Lato';
$font-light: 'Open Sans';

